<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Danh sách lịch hẹn khám</h3>
          <div ngbDropdown placement="bottom-right">
            <a class="btn btn-sm btn-icon-only text-light"
               ngbDropdownToggle>{{status}}
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-right
              dropdown-menu-arrow">
              <a class="dropdown-item" href="javascript:void(0)" (click)="getListAppSch()">Tất cả</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="getListRegistration()">Đã đăng kí</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="getListCanceled()">Đã Hủy</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Stt</th>
              <th scope="col">Tên bệnh nhân</th>
              <th scope="col">Ngày hẹn</th>
              <th scope="col">Giờ bắt đầu</th>
              <th scope="col">Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let appSch of listAppSch | paginate: {itemsPerPage:5, currentPage:p}  , let i=index">
              <td>{{i+1}}</td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{appSch.patientName}}</span>
                  </div>
                </div>
              </th>
              <td>
                {{appSch.date | date:'dd-MM-yyyy'}}
              </td>
              <td>
                {{appSch.time}}
              </td>
              <td>
                {{appSch.status}}
              </td>
            </tr>
            </tbody>
          </table>
          <div class="pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
