mat-card {
  max-width: 600px;
  margin: 150px auto;
  text-align: center;
  max-height: 1000px;
}

.header{
  text-align: center;
  margin-top: 30px;
}
.full-width {
  width: 100%;
}

.button-row {
  padding-top: 5px;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.forget-password{
  padding-left: 0px;
}

.userInput{
  padding-top: 10px;
}

.firstnameInput{
  padding-top: 20px;
}

.lastnameInput{
  padding-top: 0px;
}

.emailInput{
  padding-top: 0px;
}

.passwordInput{
  padding-top: 10px;
}

.btnSignup{
  padding-top: 20px;
}

.contentBody {
  padding: 60px 1rem;
  background :#1b6ca8;
  display: block;
}

.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}
