<div class="container" style="margin-top: 100px;" Ckeditor data-aos="fade-up">

  <div class="section-title">
    <h2>Hỏi đáp với bác sĩ</h2>
  </div>
  <div (click)="clickPost()">
    <p><b>Để lại thắc mắc của bạn chúng tôi sẽ giải đáp chúng !!!</b></p>
    Gửi thắc mắc
    <i  class="fa fa-external-link" aria-hidden="true"></i>
    <hr>
  </div>
  <div  *ngIf="post"  style="text-align: right;">
    <ckeditor data="<p>Hello, world!</p>"></ckeditor>
    <button style="margin-top: 30px;" class="btn btn-primary">Đăng</button>

  </div>


  <div>
    <hr>
    <h4>Danh sách các câu hỏi</h4>
    <mat-accordion *ngFor="let benhnhan of [1,2,3]">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="assets/bv2.jpg" style="width:30px ;height:30px ; border-radius: 50%; margin-right: 20px;" />
            <span>Bệnh nhân #{{benhnhan}}</span>
          </mat-panel-title>
          <mat-panel-description>
            bệnh gì nên khám khoa nào?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="margin-left: 50px;" *ngFor="let rep of ['A','B','C']">
          <div>
            <div style="display: flex;">
              <img src="assets/bv2.jpg" style="width:30px ;height:30px ; border-radius: 50%; margin-right: 20px;" />
              <mat-panel-title>Bác sĩ #{{rep}}</mat-panel-title>
            </div>

            <mat-panel-description style="margin-left: 50px;">Câu trả lời</mat-panel-description>
          </div>
          <hr>
          <div style="width: 100%;">
            <mat-form-field class="row">
              <input matInput placeholder="Phản hồi" />
            </mat-form-field>
            <button class="btn btn-primary" style="margin-left: 50px;">gửi</button>
          </div>
        </div>

      </mat-expansion-panel>
<!--      <mat-expansion-panel>-->
<!--        <mat-expansion-panel-header>-->

<!--          <mat-panel-title>-->
<!--            <img src="assets/bv2.jpg" style="width:30px ;height:30px ; border-radius: 50%; margin-right: 20px;" />-->
<!--            <span>Bệnh nhân A</span>-->
<!--          </mat-panel-title>-->
<!--          <mat-panel-description>-->
<!--            bệnh gì nên khám khoa nào?-->
<!--          </mat-panel-description>-->
<!--        </mat-expansion-panel-header>-->
<!--        <div style="margin-left: 50px;">-->
<!--          <div>-->
<!--            <div style="display: flex;">-->
<!--              <img src="assets/bv2.jpg" style="width:30px ;height:30px ; border-radius: 50%; margin-right: 20px;" />-->
<!--              <mat-panel-title> Bác sĩ B</mat-panel-title>-->
<!--            </div>-->

<!--            <mat-panel-description style="margin-left: 50px;">Câu trả lời</mat-panel-description>-->
<!--          </div>-->
<!--          <hr>-->
<!--          <div style="width: 100%;">-->
<!--            <mat-form-field class="row">-->
<!--              <input matInput placeholder="Phản hồi" />-->
<!--            </mat-form-field>-->
<!--            <button class="btn btn-primary" style="margin-left: 50px;">gửi</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </mat-expansion-panel>-->
    </mat-accordion>
  </div>
</div>
