<div class="container" style="margin-top: 73px;">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <p class="video-description"></p>
      <video style="transform: scale(-1,1);" #local_video [autoplay]="true" [muted]="true"></video>
    </mat-grid-tile>
    <mat-grid-tile>
      <p class="video-description">Đối phương:</p>
      <video #received_video [autoplay]="true"></video>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button color="primary" (click)="startLocalVideo()" >Mở camera </button>
  <button mat-raised-button color="primary" (click)="pauseLocalVideo()">Tắt camera</button>
  <button mat-raised-button color="primary"(click)="call()" >Tham gia cuộc trò chuyện</button>
  <button mat-raised-button color="primary" (click)="hangUp()">Rời khỏi cuộc trò chuyện</button>
</div>
