<div class="container-fluid mt--7">
  <div class="p-3 text-center section-title">
    <h2 class="mt-3">Danh sách lịch khám</h2>

  </div>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Danh sách khoa</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Stt</th>
                <th scope="col">Tên khoa</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSource | paginate: {itemsPerPage:5, currentPage:p}, let i= index">
                <td>{{i+1}}</td>
                <th scope="row">
                  <div class="media align-items-center">

                    <div class="media-body">
                      <span class="mb-0 text-sm">{{item.deptname}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <a style="color: rgb(232, 18, 18);margin-right: 10px; font-size: larger; " ><i class="fa fa-trash" aria-hidden="true" (click)="xoaKhoa(item.deptid)"></i></a>
                  <a style="color: rgb(61, 205, 230); font-size: larger;" ><i class="fa  fa-pencil-square-o" aria-hidden="true" (click)="themKhoa()"></i></a>
                </td>

              </tr>
            </tbody>
          </table>
          <div class="pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
