
<section id="contact" style="margin-top: 100px;" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Liên hệ</h2>
      <p>Nếu có thắc mắc gì về wwbsite vui lòng liên hệ với chúng tôi. Cảm ơn bạn đã liên hệ cho chúng tôi!</p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h4>Địa chỉ:</h4>
            <p>230 Man Thiện, Quận 9</p>
          </div>

          <div class="email">
            <i  class="fa fa-envelope-o" aria-hidden="true"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div>

          <div class="phone">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <h4>Số điện thoại:</h4>
            <p>+86 327 248 445</p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.5006363718085!2d106.7944253145897!3d10.849475192271976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527407a6f0ce7%3A0xdf62d02f7162dc95!2zMjMwIMSQLiBNYW4gVGhp4buHbiwgUGjGsOG7nW5nIFTDom4gUGjDuiwgUXXhuq1uIDksIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2sbg!4v1652376699080!5m2!1svi!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form formGroup  role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Tên của bạn</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Email của bạn</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Chủ đề phản hồi</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">Tin nhắn</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Gửi tin nhắn</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
