
<div class="container"style="margin-top: 100px;">
    <!-- For demo purpose -->

      <div class=" text-center section-title">
        <h2 class="mt-3">Nội dung đặt lịch khám</h2>
        <h4 style="color: red;">Đang chờ toán thành</h4>
      </div>
    <!-- End -->
    <div class="row">

<p>Hình thức khám: {{scheduleRegister.typeClinic}}</p>
<p>Ngày khám: {{scheduleRegister.date}}</p>
<p>Khoa: {{scheduleRegister.dept}}</p>
<p>Bác sĩ: {{scheduleRegister.doctor}}</p>
<p>Giờ khám{{scheduleRegister.time}}</p>
<p>Giá: {{scheduleRegister.price}}</p>
<button class="btn btn-success" (click)="payment()">OK</button>
    </div>

