
<div class="limiter">
  <div class="container-login100">

    <div  style="display: block;" class="wrap-login100">

      <div class="row justify-content-center">
        <h1  style="text-align: center;margin-top:20px ;">Websiteyte</h1>
      </div>

      <div class="row justify-content-center">
        <div class="login100-pic js-tilt col-6" data-tilt>
          <img src="./assets/imglogin.png" alt="IMG">
        </div>

        <form [formGroup]="formForget" class="login100-form validate-form col-6" (ngSubmit)="sendEmail()">
            <span class="login100-form-title">
              Quên mật khẩu
            </span>
          <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
            <mat-label >Email</mat-label>
            <input id="email" class="col-6" type="email" matInput
                   formControlName="email" [errorStateMatcher]="matcher" />
            <mat-error *ngIf="f.email.invalid">
              *Nhập <strong>email!</strong>
            </mat-error>
          </mat-form-field>
          <div class="container-login100-form-btn">
            <button [disabled]="loading" class="login100-form-btn">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Gửi
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

