<div class="container">
  <div class="text-center" style="margin-top: 30px;">
    <h1>Chi tiết lịch khám</h1>
    <a href="">Danh sách lịch khám</a><a href="" class="text-info"> | Chi tiết
      lịch khám</a>
  </div>

  <div>
    <div style="margin-left: 15px;">
      <div>
        <h2>Đơn thuốc số:</h2>
      </div>
      <div>
        <p>Tên bệnh nhân:</p>
      </div>
      <div><p (click)="return()">Ngày khám:</p></div>
    </div>

    <div>

      <mat-form-field  class="col-6"style="margin: 15px;">
        <mat-label>Bệnh</mat-label>
        <mat-select #selectList [formControl]="sicks" multiple
          [(ngModel)]="myDropDown"
          (ngModelChange)="onChangeofOptions($event)">
          <input type="text" matInput style="height: 50px;" [(ngModel)]="search"
            (keyup)="filterItem($event)" required>
          <mat-option *ngFor="let item of sickList" [value]="item">{{item.sickname}}</mat-option>
        </mat-select>
      </mat-form-field>
      <form [formGroup]="formMedicine" (ngSubmit)="addMedicine()">
        <mat-form-field  class="col-4" style="margin: 15px;">
          <mat-label>Tên thuốc</mat-label>
          <input type="text"
            matInput
            formControlName ="medicine"
            required
            [matAutocomplete]="autoGroup" (keyup)="filterMedicine($event)">
          <mat-autocomplete #autoGroup="matAutocomplete">

              <mat-option *ngFor="let name of medicineList" [value]="name.medicinename">
                {{name.medicinename}}
              </mat-option>

          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="col-4" style="margin: 15px;">
          <mat-label>Liều dùng</mat-label>
          <input matInput type="text" formControlName="dosage" required>
        </mat-form-field>
        <mat-form-field class="col-2" style="margin: 15px;">
          <mat-label>Số lượng</mat-label>
          <input matInput type="text" formControlName="amount" required>
        </mat-form-field>
        <button type="submit" [disabled]="!formMedicine.valid" class="btn btn_color">
          Thêm
        </button>

      </form>
    </div>



  </div>

  <div>
    <p *ngFor="let item of dataSource">
      {{item.medicine}}
    </p>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
      style="width: 98%; margin-left:15px ;">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element,let i=index"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="medicine">
        <th mat-header-cell *matHeaderCellDef> Tên thuốc </th>
        <td mat-cell *matCellDef="let element"> {{element.medicine}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dosage">
        <th mat-header-cell *matHeaderCellDef> Số lượng </th>
        <td mat-cell *matCellDef="let element"> {{element.dosage}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> liều dùng </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</div>
