<div class="row"style="background-color:rgb(244, 246, 251) ;">
  <div class="col-3" style="background-color:rgb(244, 246, 251) ;">
    <app-header-doctor ></app-header-doctor>
  </div>
  <div class="col-9" >
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <br>
    <br>
    <footer  class=" text-center text-lg-start">
      <!-- Copyright -->
      <hr>
      <div class="text-center p-3" >
        © 2022 Copyright:
        <span class="text-dark" >Websiteyte</span>
      </div>
      <!-- Copyright -->
    </footer>
  </div>


</div>

