<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Sức Khỏe Của Bệnh Nhân Là Hàng Đầu</h1>
        <h2>Mang đến giá trị tốt đẹp nhất!</h2>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="./assets/logi.svg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section>
