<div class="container" style="margin-top: 100px;">



  <div class="justify-content-center">
    <div class="appointment-header">
      <div style="float: right; margin: 12% 20px;">
        <div class="appointment-title">
          <a>
            Trang chủ
          </a>
          <a>/Lịch khám</a>
          <br>
          <br>
        </div>
        <button class="btn btn-primary" (click)="registrationSchedule()"> Đăng ký lịch khám</button>
      </div>

    </div>
  </div>
  <div class="col-lg-6 mx-auto">
    <div class="p-3 text-center section-title">
      <h2 class="mt-3">Danh sách lịch khám</h2>
      <a href="">Đã đăng ký </a><a href=""> | Đã hủy</a><a href=""> | Đã khám</a>
    </div>

  </div>
  <div class="row" >
    <div  style="margin-bottom: 20px;" class="col-4" *ngFor="let item of listAppointmentSchedule">
      <mat-card class="example-card">
        <div (click)="clickItemAppointment(item.number,item.status)">
        <mat-card-header >
          <div class="col-2"> <div mat-card-avatar class="example-header-image"></div></div>
          <div class="col-4" *ngIf="item.doctorName">

            <mat-card-title>Bác sĩ <i class="fa fa-user-md" aria-hidden="true"></i></mat-card-title>
            <mat-card-subtitle>{{item.doctorName}}</mat-card-subtitle>
          </div>
          <div class="col-5">
            <mat-card-title>Ngày khám <i class="fa fa-calendar-check-o"
                aria-hidden="true"></i></mat-card-title>

            <mat-card-subtitle>{{item.date|date:'dd-MM-yyyy'}}</mat-card-subtitle>
          </div>

        </mat-card-header>

        <mat-card-content style="margin-left: 31px;">
          <p><b>STT:</b> {{item.number}}</p>
          <p><b>Giờ dự kiến:</b> {{item.time}}</p>
          <p><b>Hình thức khám:</b> {{item.typeClinic}} </p>

        </mat-card-content>
      </div>
        <mat-card-actions class="" style="display: flex;
          justify-content: center;">
          <button mat-button color="primary">Đã Đăng Ký</button>
          <button mat-button color="primary">Hủy</button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>
  <div>

    <nav style="margin: 20px;" aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
